/*
 * This is where specific adjustments can be made to Bootstrap defaults
 * for local JCiP use. Adapted from from Bootstrap example code.
 * --------------------------------------------------------------------
 */

/*
 * Fixed top navbar
 * --------------------------------------------------------------------
 */

/*
 * Allow space for navbar-fixed-top. Doesn't work with navbars that
 * aren't fixed. See http://getbootstrap.com/components/#navbar-fixed-top
 * for more on why we put the top padding on body. Also see sticky footer
 * styles below for corresponding body style to accommodate footer.
 */
body {
  /* Height of navbar */
  margin-top: 40px;
  /* Additional padding between navbar and content */
  padding-top: 12px;
}

header {
  background-color: #f5f5f5;
}

/*
 * Adjust 40px height logo within 40px navbar.
 */
.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-form {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*
 * Sticky footer styles
 * --------------------------------------------------------------------
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height (set below) */
  margin-bottom: 40px;
  /* Additional padding between content and footer */
  padding-bottom: 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  /* No need for margin on bottom with footer */
  margin-bottom: 0px;
  background-color: #f5f5f5;
}


/*
 * Palatino fonts
 * --------------------------------------------------------------------
 * Adapted from http://www.cssfontstack.com/Palatino
 * --------------------------------------------------------------------
 */

h1 {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
} 

/* end of jcip-theme.css */
